body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

/* navbar */
.xnav-bg{
    padding-top: 42px !important;
    padding-left: 63px !important;
    padding-right: 58px !important;
    background: rgba(40, 40, 40, 0.9);
    color: #ffffff !important;
}

.xnav-bg>a{
    color: #ffffff !important;
    align-items: center     ;
}

.xlogo-text{
    padding-left: 12px;
    font-size: 23px;
    line-height: 31px;
    font-style: normal;
    font-weight: bold;
}

.xwhite{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff !important;
}

li{
    padding: 0 26px;
    height: 20px;
}


/* jumbotron */
.xjumbotron{
    width: 100%;
    padding: 75px 279px 18px 279px;
    text-align: center;
    background: rgba(40, 40, 40, 0.9);
    background-blend-mode: darken;
}

.xjumbotron-text-holder>h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
}

.xjumbotron-text-holder>p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #F2F2F2;
    padding: 0 75px;
}

.xjumbotron-btns{
    /* justify-items: center; */
    padding: 58px 0 169px 0;
}

.xbtn{
    display: inline-block;
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 23px;
    font-size: 15px;
    height: 40px;
    outline: none;
    line-height: 20px;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.xbtn::active, .xbtn::focus{
    border: none !important;
    outline: none !important;
}

.reg-btn{
    margin-right: 49px;
    background: linear-gradient(105.33deg, #F41313 -28.55%, #F90178 125.13%);
    background-blend-mode: darken;
    mix-blend-mode: normal;
}

.login-btn{
    border: 2px solid #F90178;
}

/* search */
.search-holder{
    background: #FFFFFF;
    box-shadow: 0px 3px 7px rgba(96, 96, 96, 0.34);
    padding: 30px 64px 29px 63px;
    display: flex;
    flex-direction: row;
    margin-left: 54px;
    margin-right: 65px;
    margin-top: -61px;
    width: calc(100% - 119px);
}

.input input, .input select, .input>.search-btn{ 
    height: 53px;
    width: inherit;
}

.input{
    flex: 1 2;
    width: 100%;
    margin: 0 16px;
    font-size: 17px;
    line-height: 23px;
    color: rgba(20, 20, 20, 0.45);
}

input, select{
    padding: 0 20px;
    outline: none;
    border: none;
    background: #EFEFEF;
    color: rgba(20, 20, 20, 0.45);
}

label{
    width: inherit;
    position: relative;
}

label:after{
    content: url('./images/arrow.png');
    right: 9%; 
    top:26%;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-text{
    /* width: 331px; */
}

.input-cate{
    /* width: 214px; */
}

.input-loc{
    /* width: 223px; */
}

.search-btn{
    width: 170px;
    height: 53px;
    background: linear-gradient(107.29deg, #F41313 -28.55%, #F90178 125.13%);
    background-blend-mode: darken;
    border-radius: none;
}


/* suggested location */
.suggested-holder{
    padding: 52px 0 0 35px;
    font-style: normal;
    font-weight: normal;
}

.header h3{
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.header p{
    font-size: 15px;
    line-height: 20px;
    color: #C4C4C4;
}

.location-holder{
    padding: 35px 0 80px 0;
    display: flex;
    flex-direction: row;
}

.location{
    width: 200px;
    padding: 24px 0 23px 0;
    background: #FFFFFF;
    margin: 0 21px;
    box-shadow: 0px 3px 4px rgba(216, 215, 215, 0.3);
    text-align: center;
    font-style: normal;
}

.location h2 {
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.location p{
    padding-bottom: 0.4rem;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.location:first-child{
    margin-left: 0 !important;
}


/* footer */
.xfooter{
    background: rgba(40, 40, 40, 0.88);
    background-blend-mode: darken;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #FFFFFF;
    padding: 21px 31px 34px 20px;
    display: flex;
    align-items: center;
}

.copyright{
    float: left;
}

.copyright p{
    padding-bottom: 0 !important;
    margin-bottom: 0px;
}

.socials{
    float: right;
    margin-left: auto;
    display: flex;
}

.social{
    background: rgba(255, 255, 255, 0.2);
    height: 68px;
    width: 68px;
    border-radius: 50%;
    margin: 0 8.5px;
}

.social img{
    display: inline-block;
}


/* topicks */
.toppick-holder-holder{
    background: #E5E5E5;
}

.toppick-holder{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 35px 0 30px 0;
}

.topPickCard{
    margin: 0 30px;
    /* min-width: 297px; */
    box-shadow: 0px 3px 7px rgba(96, 96, 96, 0.34);
}

.card-image{
    /* height: 354px; */
}

.card-cate{
    background-size: cover;
    height: 354px;
}

.card-cate .category{
    background: linear-gradient(115.36deg, #F41313 -28.55%, #F90178 125.13%);
    background-blend-mode: darken;
    background-size: cover;
    mix-blend-mode: normal;
    color: #ffffff;
    padding: 10px;
    display: inline-table;
    margin-top: 289px;
    margin-left: 36px;
}

.best-seller{
    padding: 10px;
    background: #FABB1B;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #000000 !important;
    display: absolute;
    margin-top: -329px;
    margin-left: 58%;
}

.card-details{
    padding: 44px 12px 12px 12px;
    background: #ffffff;
}

.card-details h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
}

.card-details p {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #C4C4C4;
}

.amount-holder{
    padding: 10px 23px 23px 0;
    display: flex;
    flex-direction: row;
}

.old{
    margin-right: 49px;
}

.old p{
    float: left;
    font-size: 17px;
    line-height: 23px;
    color: #C4C4C4;
    margin-right: 49%;
    text-decoration: line-through;
}

.new p{
    float: right;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
}

hr{
    margin: 0 !important;
    padding-top: 24px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 13px;
    line-height: 18px;
}

.contact img {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.contact p{
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
}

.currency::before{
    content: "$";
    position: relative;
    vertical-align: super;
    text-transform: none !important;
}

/* avilable cart */
.catergotyCard-holder{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 15px;
    width: 100%;
}

.catergotyCard{
    flex: 1;
    min-width: 20%;
    box-shadow: 0px 3px 7px rgba(96, 96, 96, 0.34);
    margin: 20px;
}

.cate-image{
    height: 234px;
    background-size: cover;
}

.locals{
    padding-top: 30px;
}

.locals p{
    margin-bottom: 4px;
    font-size: 17px;
    line-height: 23px;
    color: #000000;

}

.locals hr{
    margin: 0 0;
    padding: 0 0;
}

.cate-cate-details{
    padding-bottom: 30px;
}